source/company.haml
---
title: "Company"
body_class: "company"
---


.container
  .primary
    .intro
      %h1 Best Bank Ever!
      %p
        Pellentesque habitant morbi tristique senectus et netus et
        %a{:href => "#"} malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
        %a{:href => "#"} placerat
        eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
    .highlights
      %h3 Reasons We're Awesome:
      %ul
        %li Lorem ipsum dolor sit amet.
        %li Aliquam tincidunt mauris eu risus.
        %li Lorem ipsum dolor sit amet.
        %li Lorem ipsum dolor sit amet.
        %li Vestibulum auctor dapibus neque.
    .callout
      %h4 Amazing Mobile Info
      %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
      =image_tag "phone-illustration.png", class: "mobile-img", alt: "mobile phone illustration"
    .rates
      %h2
        Rates
        .tagline Check them out.
      %table#bankRates
        %thead
          %tr
            %th
            %th.number Annual Percentage Yield
            %th.number Est. Earnings for 1 Year*
        %tbody
      .footnote
        *Based on $50,000 deposit.
  .secondary
    %button#loginBtn.login Login
    .tabs
      %ul.tab-nav
        %li.active
          %a{:href => "#news"} News
        %li
          %a{:href => "#archive"} Archive
      #news.tab-content.active
        -(1..3).each do
          %a.title{:href => "#"} Lorem ipsum dolor
          %p.teaser
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
      #archive.tab-content
        -(1..8).each do
          %a.title{:href => "#"} Lorem ipsum dolor

build/company.html
<!DOCTYPE html>
<html lang='en'></html>
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta content='' name='description'>
  <meta content='' name='author'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <link href='favicon.ico' rel='icon' type='image/ico'>
  <title>URBank - Company</title>
  <link href="stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class='company' ontouchstart=''>
  <div class='wrapper'>
    <div class='header'>
      <div class='container'>
        <img class="logo" alt="URBank logo" src="images/urbank-logo.png" />
        <img class="mobileNavIcon" alt="Show Menu" src="images/burger.png" />
        <h1 class='company-name'>URBANK</h1>
        <ul class='navigation'>
          <li><a href="#"><span>home</span></a></li>
          <li><a href="#"><span>employee</span></a></li>
          <li class="active"><a href="company.html"><span>company</span></a></li>
          <li><a href="#"><span>services</span></a></li>
          <li><a href="#"><span>contact</span></a></li>
        </ul>
      </div>
    </div>
    <div class='container'>
      <div class='primary'>
        <div class='intro'>
          <h1>Best Bank Ever!</h1>
          <p>
            Pellentesque habitant morbi tristique senectus et netus et
            <a href='#'>malesuada</a>
            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
            <a href='#'>placerat</a>
            eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
          </p>
        </div>
        <div class='highlights'>
          <h3>Reasons We're Awesome:</h3>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Vestibulum auctor dapibus neque.</li>
          </ul>
        </div>
        <div class='callout'>
          <h4>Amazing Mobile Info</h4>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
          <img class="mobile-img" alt="mobile phone illustration" src="images/phone-illustration.png" />
        </div>
        <div class='rates'>
          <h2>
            Rates
            <div class='tagline'>Check them out.</div>
          </h2>
          <table id='bankRates'>
            <thead>
              <tr>
                <th></th>
                <th class='number'>Annual Percentage Yield</th>
                <th class='number'>Est. Earnings for 1 Year*</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <div class='footnote'>
            *Based on $50,000 deposit.
          </div>
        </div>
      </div>
      <div class='secondary'>
        <button class='login' id='loginBtn'>Login</button>
        <div class='tabs'>
          <ul class='tab-nav'>
            <li class='active'>
              <a href='#news'>News</a>
            </li>
            <li>
              <a href='#archive'>Archive</a>
            </li>
          </ul>
          <div class='tab-content active' id='news'>
            <a class='title' href='#'>Lorem ipsum dolor</a>
            <p class='teaser'>
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            </p>
            <a class='title' href='#'>Lorem ipsum dolor</a>
            <p class='teaser'>
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            </p>
            <a class='title' href='#'>Lorem ipsum dolor</a>
            <p class='teaser'>
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            </p>
          </div>
          <div class='tab-content' id='archive'>
            <a class='title' href='#'>Lorem ipsum dolor</a>
            <a class='title' href='#'>Lorem ipsum dolor</a>
            <a class='title' href='#'>Lorem ipsum dolor</a>
            <a class='title' href='#'>Lorem ipsum dolor</a>
            <a class='title' href='#'>Lorem ipsum dolor</a>
            <a class='title' href='#'>Lorem ipsum dolor</a>
            <a class='title' href='#'>Lorem ipsum dolor</a>
            <a class='title' href='#'>Lorem ipsum dolor</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='footer'>
    <div class='container'>
      <div class='copywrite'>
        &copy; 2014 URBank
      </div>
      <ul class='navigation'>
        <li>
          <a href='#'>home</a>
        </li>
        <li>
          <a href='#'>employee</a>
        </li>
        <li class='active'>
          <a href='#'>company</a>
        </li>
        <li>
          <a href='#'>services</a>
        </li>
        <li>
          <a href='#'>contact</a>
        </li>
      </ul>
    </div>
  </div>
  <div class='modal'>
    <div class='modal-container'>
      <a href='#' id='closeModal'>
        <img class="closeBtn" alt="Close Modal Icon" src="images/modal-close.png" />
      </a>
      <h2 class='title'>Sign In To Your Account</h2>
      <form action=''>
        <div class='form-group'>
          <label for='Username'>Username</label>
          <input id='Username' type='text'>
        </div>
        <div class='form-group'>
          <label for='Password'>Password</label>
          <input id='Password' type='text'>
        </div>
        <button class='submit'>Login</button>
      </form>
    </div>
  </div>
  <script src="javascripts/all.js" type="text/javascript"></script>
</body>
